// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #6c7b95;

body {
  background: $gray; // Using this variable
}

h1.banner {
  font-size: 150px;
  background: #ad62aa;
  margin-left: 0px;
  margin-right: -8px;
}



